### Initial Setup:

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
from sqlalchemy import create_engine, text
%matplotlib inline

In [ ]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT *
FROM scooters
LIMIT 100;
'''

In [ ]:
with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

In [ ]:
scooters.head()

### Setting up trips table

In [ ]:
query = '''
SELECT *
FROM trips;
'''
#selects everything from the trips table
with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

trips.head()

In [ ]:
trips.info()

In [ ]:
trips.sumdid.nunique() #number of unique scooter ids (9005)

In [ ]:
trips.describe()

### Pulling in scooters info

In [ ]:
query = '''
SELECT DISTINCT sumdid 
FROM scooters;
'''

with engine.connect() as connection:    
    scoot_ids = pd.read_sql(text(query), con = connection)

scoot_ids #shows how many unique scooter ids (10018)

In [ ]:
query = '''
SELECT *
FROM scooters
WHERE sumdid = 'PoweredLIRL1';
'''

with engine.connect() as connection:    
    scoot_test = pd.read_sql(text(query), con = connection)

scoot_test #shows how many records are present for the scooter: PoweredLIRL1

In [ ]:
query = '''
SELECT sumdid, COUNT(*)
FROM scooters
GROUP BY sumdid
ORDER BY count;
'''

with engine.connect() as connection:    
    scoot_groups = pd.read_sql(text(query), con = connection)

scoot_groups #shows how many records there are for each scooter id (asc)

In [ ]:
scoot_groups.loc[scoot_groups['count'] > 1] # filters for ids with more than 1 record

In [ ]:
query = '''
SELECT companyname, COUNT(*)
FROM scooters
GROUP BY companyname
ORDER BY count;
'''

with engine.connect() as connection:    
    scoot_comps = pd.read_sql(text(query), con = connection)

scoot_comps #shows how many records there are for each scooter company (asc - 7 companies)

In [ ]:
query = '''
SELECT sumdtype, COUNT(*)
FROM scooters
GROUP BY sumdtype
ORDER BY count;
'''

with engine.connect() as connection:    
    scoot_pow = pd.read_sql(text(query), con = connection)

scoot_pow #shows how many records there are for each scooter type (Standard 	26529, Powered 	73387514)

In [ ]:
query = '''
SELECT companyname, sumdtype, COUNT(*)
FROM scooters
GROUP BY companyname, sumdtype
ORDER BY count;
'''

with engine.connect() as connection:    
    scoot_pow = pd.read_sql(text(query), con = connection)

scoot_pow #shows how many records there are for each scooter company/type (Lime is the only provider of standard scooters)

### Question 2

In [ ]:
#convert start and end times/dates into datetimes in new columns

trips['start_dt'] = pd.to_datetime(trips.startdate.astype(str)+ ' ' +trips.starttime.astype(str))
trips['end_dt'] = pd.to_datetime(trips.enddate.astype(str)+ ' ' +trips.endtime.astype(str))

In [ ]:
trips.head(2)

In [ ]:
#create new column showing length of each trip

trips['trip_length'] = trips.end_dt-trips.start_dt
trips.head(2)

In [ ]:
#### displays records of trips that are shorter than 1 minute (12474)

trips.loc[trips.trip_length.dt.total_seconds() < 60]

In [ ]:
trips.loc[trips.tripduration < 1]

In [ ]:
#displays records of trips that are longer than 1 day (61)

trips.loc[trips.trip_length.dt.total_seconds() > 86400]

In [ ]:
trips.loc[trips.companyname == 'Bolt Mobility']

### How many ids are there in common?

In [ ]:
query = '''
SELECT DISTINCT sumdid
FROM scooters
INTERSECT
SELECT DISTINCT sumdid
FROM trips;
'''

with engine.connect() as connection:    
    common_ids = pd.read_sql(text(query), con = connection)

common_ids