### 3. The goal of Metro Nashville is to have each scooter used a minimum of 3 times per day. Based on the data, what is the average number of trips per scooter per day? Make sure to consider the days that a scooter was available. How does this vary by company?

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
from sqlalchemy import create_engine, text
%matplotlib inline

In [ ]:
database_name = 'scooter'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT companyname, sumdid, CAST(pubdatetime AS DATE) as date, COUNT(*)
FROM scooters
GROUP BY companyname, sumdid, CAST(pubdatetime AS DATE),;
'''
#trip count by scooter id
with engine.connect() as connection:    
    avail = pd.read_sql(text(query), con = connection)

avail.head()

In [ ]:
avail10 = avail.head(10)
avail10

In [ ]:
avail['date'] = pd.to_datetime(avail['date'])
avail

In [ ]:
avail.info()

In [ ]:
avail['date'] = avail['date'].dt.date
avail.info()

In [ ]:
trips = pd.read_csv('../data/tripscleaned.csv')
trips.head(3)

In [ ]:
trips.info()

In [ ]:
trips['date'] = pd.to_datetime(trips['startdate']).dt.date #adds date column for matching
trips.head(3)

In [ ]:
trip_count = trips.groupby(['companyname','sumdid','date']).size().reset_index().rename(columns={0:'tripcount'}) #trip count per day per scooter
trip_count

In [ ]:
use = pd.merge(avail,trip_count[['sumdid','date','tripcount']],on=['sumdid','date'], how='left') #merge datasets
use.head()

In [ ]:
use['tripcount_filled'] = use['tripcount'].fillna(0) #adds a new column replacing nan with zero

In [ ]:
use.describe()

In [ ]:
use.groupby('companyname')[['tripcount','tripcount_filled']].mean() #show average use per scooter per day by company including and excluding nan values

In [ ]:
use.value_counts('count').sort_index()

In [ ]:
unused = use.loc[use.tripcount_filled == 0]
unused

In [ ]:
underused = use.loc[(use.tripcount < 3) & (use.tripcount != 0)]
underused

In [ ]:
suff_use = use.loc[use.tripcount >= 3]
suff_use

# All prior code created by Diarra Fall

# All code below added by William Prunty

In [ ]:
#creating categorizing columns for each database

underused['use_status'] = 'underused'
unused['use_status'] = 'unused'
suff_use['use_status'] = 'suff_use'

In [ ]:
#merging all tables and use class

usemerged = pd.merge(suff_use, underused, how='outer')
usemerged = pd.merge(usemerged, unused, how='outer')
usemerged.shape

In [ ]:
#Verifying results of the outer join, where table now contains all rows from all tables 
#and now a column indicating use_status

len(unused)+len(underused)+len(suff_use) == len(usemerged)

In [ ]:
#exporting for analysis in another workbook

usemerged.to_csv('../data/usemerged.csv')